[global]
type=global
user_agent=DJI-Pi-Gateway

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[trusted-lan]
type=acl
acl=192.168.0.0/16
acl=10.0.0.0/8
acl=172.16.0.0/12
acl=fd00::/8

[iphone]
type=endpoint
transport=transport-udp
context=iphone-outbound
disallow=all
allow=ulaw,alaw
auth=iphone-auth
aors=iphone
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
acl=trusted-lan

[iphone-auth]
type=auth
auth_type=userpass
username=iphone
password=@SIP_PASSWORD@

[iphone]
type=aor
max_contacts=2
remove_existing=yes
qualify_frequency=30

